<div class="header-container">
  <div nz-typography class="title">Create Account</div>
  <div nz-typography nzType="secondary" class="subtitle">
    Create your account before you proceed.
  </div>
</div>
<div nzGrid>
  <div *ngrxLet="countries$; let countries" nz-row>
    <div [nzLg]="16" [nzXl]="12" [nzXs]="24" nz-col>
      <form (ngSubmit)="submit()" [formGroup]="signupForm" [nzAutoTips] nz-form nzLayout="vertical">
        <div [nzGutter]="12" nz-row>
          <div [nzSpan]="12" nz-col>
            <nz-form-item>
              <nz-form-control>
                <input
                  autofocus
                  autocomplete="name"
                  formControlName="firstName"
                  id="firstName"
                  nz-input
                  nzSize="large"
                  placeholder="First name"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div [nzSpan]="12" nz-col>
            <nz-form-item>
              <nz-form-control>
                <input
                  autocomplete="additional-name"
                  formControlName="lastName"
                  id="lastName"
                  nz-input
                  nzSize="large"
                  placeholder="Last name"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div [nzGutter]="12" nz-row>
          <div [nzMd]="12" [nzXs]="24" nz-col>
            <nz-form-item>
              <nz-form-control nzHasFeedback>
                <nz-input-group nzPrefixIcon="mail" nzSize="large">
                  <input autocomplete="email" formControlName="email" nz-input placeholder="Email" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div [nzMd]="12" [nzXs]="24" nz-col>
            <nz-form-item>
              <nz-form-control nzHasFeedback>
                <nz-input-group nzPrefix="+91" [nzSuffix]="suffixTemplateInfo" nzSize="large">
                  <ng-template #suffixTemplateInfo
                    ><i
                      nz-icon
                      nz-tooltip
                      nzTooltipTitle="Only Indian (+91) numbers are allowed as of now."
                      nzType="info-circle"
                    ></i
                  ></ng-template>
                  <input autocomplete="mobile" formControlName="phoneNumber" nz-input placeholder="Phone number" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div [nzGutter]="12" nz-row>
          <div [nzSpan]="12" nz-col>
            <nz-form-item>
              <nz-form-control nzHasFeedback>
                <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate" nzSize="large">
                  <input
                    autocomplete="new-password"
                    [placeholder]="'Password' | translate"
                    [type]="passwordVisible ? 'text' : 'password'"
                    formControlName="password"
                    nz-input
                  />
                </nz-input-group>
                <ng-template #suffixTemplate>
                  <i
                    (click)="passwordVisible = !passwordVisible"
                    [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                    class="cursor-pointer"
                    nz-icon
                  ></i>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div [nzSpan]="12" nz-col>
            <nz-form-item>
              <nz-form-control nzHasFeedback>
                <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate" nzSize="large">
                  <input
                    autocomplete="new-password"
                    [placeholder]="'Confirm password' | translate"
                    [type]="passwordVisible ? 'text' : 'password'"
                    formControlName="confirmPassword"
                    nz-input
                  />
                </nz-input-group>
                <ng-template #suffixTemplate>
                  <i
                    (click)="passwordVisible = !passwordVisible"
                    [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                    class="cursor-pointer"
                    nz-icon
                  ></i>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div [nzGutter]="12" nz-row>
          <div [nzMd]="6" [nzXs]="12" nz-col>
            <nz-form-item>
              <nz-form-control>
                <nz-select
                  [nzLoading]="countries.isLoading"
                  nzSize="large"
                  formControlName="country"
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder="Country"
                >
                  <nz-option
                    *ngFor="let country of countries.options"
                    [nzLabel]="country.name"
                    [nzValue]="country.id"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div [nzMd]="9" [nzXs]="12" nz-col>
            <nz-form-item>
              <nz-form-control>
                <nz-select
                  nzNoAnimation
                  nzSize="large"
                  [nzLoading]="countries.isLoading"
                  [nzMaxTagPlaceholder]="tagPlaceHolder"
                  nzMaxTagCount="1"
                  nzAllowClear
                  nzShowSearch
                  nzMode="multiple"
                  nzPlaceHolder="Preferred cities"
                >
                  <!--                  <nz-option *ngFor="countries." nzLabel="Pune" nzValue="pune"></nz-option>-->
                </nz-select>
                <ng-template #tagPlaceHolder let-selectedList> +{{ selectedList.length }}</ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div [nzMd]="9" [nzXs]="24" nz-col>
            <nz-form-item>
              <nz-form-control>
                <nz-input-group nzSize="large" nzPrefix="₹" nzSuffix="LPA">
                  <input type="number" formControlName="currentSalary" nz-input placeholder="Current salary" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <nz-alert
          (nzOnClose)="clearError()"
          *ngIf="error$ | ngrxPush as error"
          [nzMessage]="error | translate"
          nzCloseable
          nzNoAnimation
          nzShowIcon
          nzType="error"
        ></nz-alert>
        <div nz-row>
          <div [nzSpan]="24" class="form-footer-container" nz-col>
            <div nz-row>
              <div [nzSpan]="9" nz-col>Already have an account? <a routerLink="/auth">Login</a></div>
              <div [nzSpan]="15" nz-col>
                <button (click)="back()" nz-button nzType="link" type="button">Change Plan</button>
                <button
                  [disabled]="!signupForm.valid"
                  [nzLoading]="isLoading$ | ngrxPush"
                  nz-button
                  nzSize="large"
                  nzType="primary"
                  type="submit"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div [nzLg]="8" [nzXl]="12" [nzXs]="24" nz-col>
      <div class="illustration-container">
        <img alt="" src="assets/illustrations/038-employment.svg" />
      </div>
    </div>
  </div>
</div>
<div class="footer-container"></div>
