<div class="header-container">
  <h2 class="title">Create Account</h2>
  <div class="content">
    Create your account before you proceed.
  </div>
</div>
<div nzGrid>
  <div nz-row>
    <div nz-col [nzXl]="12" [nzLg]="16" [nzXs]="24">
      <form [nzAutoTips] [formGroup]="signupForm" (ngSubmit)="submit()" nz-form nzLayout="vertical">
        <div nz-row [nzGutter]="12">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label nzFor="firstName" translate>First Name</nz-form-label>
              <nz-form-control>
                <input id="firstName" formControlName="firstName" nzSize="large" nz-input placeholder="e.g. Ravi" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label nzFor="lastName" translate>Last Name</nz-form-label>
              <nz-form-control>
                <input id="lastName" formControlName="lastName" nzSize="large" nz-input placeholder="e.g. Kumar" />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="12">
          <div nz-col [nzXs]="24" [nzMd]="12">
            <nz-form-item>
              <nz-form-label translate>Email</nz-form-label>
              <nz-form-control nzHasFeedback>
                <nz-input-group nzSize="large">
                  <input formControlName="email" nz-input placeholder="e.g. ravi@example.com" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzXs]="24" [nzMd]="12">
            <nz-form-item>
              <nz-form-label nzFor="phoneNumber">Phone Number</nz-form-label>
              <nz-form-control nzHasFeedback>
                <nz-input-group nzSize="large" [nzSuffix]="suffixTemplateInfo" [nzAddOnBefore]="addOnBeforeTemplate">
                  <ng-template #addOnBeforeTemplate>
                    <nz-select formControlName="phoneNumberPrefix">
                      <nz-option nzLabel="+91" nzValue="+91"></nz-option>
                    </nz-select>
                  </ng-template>
                  <ng-template #suffixTemplateInfo
                    ><i
                      nz-icon
                      nz-tooltip
                      nzTooltipTitle="Only Indian (+91) numbers are allowed as of now."
                      nzType="info-circle"
                    ></i
                  ></ng-template>
                  <input formControlName="phoneNumber" placeholder="e.g. 9012345678" nz-input />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="12">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label translate>Password</nz-form-label>
              <nz-form-control nzHasFeedback>
                <nz-input-group nzSize="large" [nzSuffix]="suffixTemplate">
                  <input
                    formControlName="password"
                    [type]="passwordVisible ? 'text' : 'password'"
                    nz-input
                    [placeholder]="'Password' | translate"
                  />
                </nz-input-group>
                <ng-template #suffixTemplate>
                  <i
                    class="cursor-pointer"
                    nz-icon
                    [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                    (click)="passwordVisible = !passwordVisible"
                  ></i>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label translate>Confirm Password</nz-form-label>
              <nz-form-control nzHasFeedback>
                <nz-input-group nzSize="large" [nzSuffix]="suffixTemplate">
                  <input
                    formControlName="confirmPassword"
                    [type]="passwordVisible ? 'text' : 'password'"
                    nz-input
                    [placeholder]="'Confirm password' | translate"
                  />
                </nz-input-group>
                <ng-template #suffixTemplate>
                  <i
                    class="cursor-pointer"
                    nz-icon
                    [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                    (click)="passwordVisible = !passwordVisible"
                  ></i>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <nz-alert
          *ngIf="error$ | ngrxPush as error"
          nzType="error"
          [nzMessage]="error | translate"
          nzShowIcon
          nzCloseable
          nzNoAnimation
          (nzOnClose)="clearError()"
        ></nz-alert>
        <div nz-row>
          <div nz-col class="form-footer-container" [nzSpan]="24">
            <div nz-row>
              <div nz-col [nzSpan]="9">Already have an account? <a routerLink="/auth">Login</a></div>
              <div nz-col [nzSpan]="15">
                <button type="button" (click)="back()" nz-button nzType="link">Change Plan</button>
                <button
                  [disabled]="!signupForm.valid"
                  type="submit"
                  nz-button
                  nzSize="large"
                  nzType="primary"
                  [nzLoading]="isLoading$ | ngrxPush"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div nz-col [nzXl]="12" [nzLg]="8" [nzXs]="24">
      <div class="illustration-container">
        <img src="assets/illustrations/038-employment.svg" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="footer-container"></div>
