<div class="header-container">
  <h2 class="title">Select a Plan</h2>
  <div class="content">
    Select a plan that suits you! <b>Guaranteed interview calls</b> within the chosen validity. See our full
    <a href="https://ameyashsolutions.com/our-clients/" target="_blank">list of companies</a>.
  </div>
</div>
<nz-list nzGrid>
  <ng-container *ngrxLet="plans$; let plans">
    <div *ngIf="!(isLoading$ | ngrxPush)" [nzGutter]="[16, 16]" nz-row>
      <div *ngFor="let plan of plans" [nzMd]="8" [nzXs]="24" nz-col>
        <app-plan
          (selectPlan)="selectPlan($event)"
          [isCurrent]="plan.id === (currentPlanId$ | async)"
          [plan]="plan"
        ></app-plan>
      </div>
    </div>
    <div *ngIf="isLoading$ | ngrxPush" [nzGutter]="[16, 16]" nz-row>
      <div *ngFor="let i of [1, 1, 1]" [nzMd]="8" [nzXs]="24" nz-col>
        <nz-card>
          <nz-skeleton [nzActive]="true"></nz-skeleton>
        </nz-card>
      </div>
    </div>
  </ng-container>
</nz-list>
<div class="footer-container">
  <div nz-typography nzType="secondary"><i>* Number of calls may vary for higher salaries and experience.</i></div>
  <button
    (click)="next()"
    [disabled]="(currentPlanId$ | ngrxPush) === null"
    [nzLoading]=""
    nz-button
    nzSize="large"
    nzType="primary"
    translate
  >
    Next <i nz-icon nzTheme="outline" nzType="caret-right"></i>
  </button>
</div>
