@import "src/theme/theme-variables";

.auth-layout {
  height: 100vh;

  .auth-container {
    padding: @padding-lg*2;
    width: @auth-layout-width;
  }
}

.header-container {
  text-align: center;
  padding-bottom: @padding-lg*2;

  .title {
    font-size: @heading-2-size;
    font-weight: bold;
    margin-bottom: 0;
  }

  .subtitle {
    font-size: large;
  }
}

.form-button {
  width: 100%;
  margin: @margin-lg 0;
}
