@import "../../../../theme/theme-variables";

.steps-container {
  background-color: @white;
  padding: @padding-lg*3 0;
}

.content {
  font-size: @font-size-lg;
}

.header-container {
  padding-bottom: @padding-md*2;

  .title {
    font-weight: bold;
    margin-bottom: @margin-xs;
    font-size: @heading-3-size;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding-top: @padding-md*2;
}
