{
  "singleQuote": true,
  "cursorOffset": -1,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.less",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.component.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    }
  ]
}
