@import "../../../../theme/theme-variables";

nz-content {
  padding: @layout-header-padding;
  background: @shell-layout-background;
}

.shell-content {
  padding-top: @padding-lg*4;
  padding-bottom: @padding-lg*6;
  width: @shell-layout-width;
}
