<ng-container *ngrxLet="user$; let user">
  <ng-container *ngrxLet="error$; let error">
    <ng-container *ngIf="!user">
      <div *ngIf="isVerifying$ | ngrxPush as isVerifying" class="loading-container">
        <nz-spin nzSize="large"></nz-spin>
      </div>
      <div *ngIf="error">
        <nz-result [nzTitle]="errorTitle" nzStatus="error" [nzSubTitle]="errorSubtitle"></nz-result>
        <ng-template #errorTitle>
          <div class="title">Invalid</div>
        </ng-template>
        <ng-template #errorSubtitle>
          <div class="subtitle">{{ error | translate }}</div>
        </ng-template>
      </div>
    </ng-container>
    <ng-container *ngIf="!!user">
      <div class="header-container">
        <h2 class="title">Reset Password</h2>
        <div class="subtitle">{{ user.email }}</div>
      </div>
      <div class="form-container">
        <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm" [nzAutoTips] nz-form>
          <nz-form-item>
            <nz-form-control nzHasFeedback>
              <nz-input-group [nzSuffix]="suffixTemplate" nzPrefixIcon="lock" nzSize="large">
                <input
                  autofocus
                  autocomplete="new-password"
                  [type]="passwordVisible ? 'text' : 'password'"
                  formControlName="password"
                  nz-input
                  placeholder="New password"
                />
              </nz-input-group>
              <ng-template #suffixTemplate>
                <i
                  (click)="passwordVisible = !passwordVisible"
                  [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                  class="cursor-pointer"
                  nz-icon
                ></i>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzHasFeedback>
              <nz-input-group [nzSuffix]="suffixTemplate" nzPrefixIcon="lock" nzSize="large">
                <input
                  autocomplete="new-password"
                  [type]="passwordVisible ? 'text' : 'password'"
                  formControlName="confirmPassword"
                  nz-input
                  placeholder="Confirm new password"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <div *ngIf="error" nz-row [nzGutter]="[0, 36]">
            <div nz-col nzSpan="24">
              <nz-alert
                nzType="error"
                [nzMessage]="error | translate"
                nzShowIcon
                nzCloseable
                nzNoAnimation
                (nzOnClose)="clearError()"
              ></nz-alert>
            </div>
          </div>
          <div nz-row [nzGutter]="[0, 36]">
            <div nz-col nzSpan="24">
              <button
                [disabled]="!resetPasswordForm.valid"
                [nzLoading]="isLoading$ | ngrxPush"
                class="form-button"
                nz-button
                nzSize="large"
                nzType="primary"
                type="submit"
              >
                Reset Password
              </button>
            </div>
          </div>
          <div nz-row [nzGutter]="[0, 36]">
            <div class="text-center" nz-col nzSpan="24">Back to <a routerLink="/auth">Login</a></div>
          </div>
        </form>
      </div>
      <div class="footer-container"></div>
    </ng-container>
  </ng-container>
</ng-container>
