<ng-container *ngrxLet="isLoading$; let isLoading">
  <ng-container *ngIf="!isLoading">
    <div class="steps-container">
      <nz-steps [nzCurrent]="currentStepNumber$ | ngrxPush" (nzIndexChange)="onStepClick($event)">
        <nz-step
          *ngFor="let step of steps$ | ngrxPush; let i = index"
          [nzDisabled]="((currentStepNumber$ | ngrxPush) !== i) && step.disabled"
          [nzTitle]="step.title"
          [nzStatus]="(step.status === 'wait') && ((currentStepNumber$ | ngrxPush) === i) ? 'process' : step.status"
          [nzDescription]="(step.status === 'finish' || step.status === 'error') ? step.description : null"
        ></nz-step>
      </nz-steps>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </ng-container>
  <nz-skeleton *ngIf="isLoading" [nzActive]="true"></nz-skeleton>
</ng-container>
