/*
 * Application global variables.
 */

// Use defaults for other variables, imported here so we can access all app variables in one place when used
// in components

@import "../../node_modules/ng-zorro-antd/style/themes/default";

@body-background: @layout-body-background;

.shell-layout {
  padding: @layout-header-padding;
}

.auth-layout {
  padding: @padding-lg;
}

@media (max-width: @screen-sm-max) {
  .shell-layout {
    padding: 0 @padding-lg;
  }

  .auth-layout {
    padding: 0;
    background: @white;
  }
}

@shell-layout-background: @white;

@shell-layout-width: @screen-lg-max;
@auth-layout-width: @screen-xs-min;
