<ng-container *ngrxLet="state$; let state">
  <div class="header-container">
    <h2 class="title">Forgot Password</h2>
    <div class="subtitle" translate>Enter your email to proceed</div>
  </div>
  <div class="form-container">
    <form (ngSubmit)="submit()" [formGroup]="forgotPasswordForm" [nzAutoTips] nz-form>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="mail" nzSize="large">
            <input formControlName="email" nz-input placeholder="Email" type="text" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div *ngIf="state.error" nz-row [nzGutter]="[0, 36]">
        <div nz-col nzSpan="24">
          <nz-alert
            nzType="error"
            [nzMessage]="state.error | translate"
            nzShowIcon
            nzCloseable
            nzNoAnimation
            (nzOnClose)="clearError()"
          ></nz-alert>
        </div>
      </div>
      <div *ngIf="state.info" nz-row [nzGutter]="[0, 36]">
        <div nz-col nzSpan="24">
          <nz-alert
            nzType="info"
            [nzMessage]="state.info | translate"
            nzShowIcon
            nzCloseable
            nzNoAnimation
            (nzOnClose)="clearInfo()"
          ></nz-alert>
        </div>
      </div>
      <div nz-row [nzGutter]="[0, 36]">
        <div nz-col nzSpan="24">
          <button
            [disabled]="!forgotPasswordForm.valid"
            [nzLoading]="state.isLoading"
            class="form-button"
            nz-button
            nzSize="large"
            nzType="primary"
            type="submit"
          >
            Submit
          </button>
        </div>
      </div>
      <div nz-row [nzGutter]="[0, 36]">
        <div class="text-center" nz-col nzSpan="24">Back to <a routerLink="/auth">Login</a></div>
      </div>
    </form>
  </div>
  <div class="footer-container"></div>
</ng-container>
