<nz-header>
  <nz-col [nzLg]="{ span: 18, offset: 3 }" [nzMd]="{ span: 24 }">
    <div class="logo" translate>APP_NAME</div>
    <ul class="menu-left" nz-menu nzMode="horizontal" nzTheme="dark">
      <li
        *ngFor="let menuItem of menuItemsLeft"
        [hidden]="menuItem.disabled"
        [routerLink]="menuItem.link"
        nz-menu-item
        nzMatchRouter
        translate
      >
        {{ menuItem.title }}
      </li>
    </ul>
    <ul class="menu-right" nz-menu nzMode="horizontal" nzTheme="dark">
      <li
        *ngFor="let menuItem of menuItemsRight"
        [hidden]="menuItem.disabled"
        [routerLink]="menuItem.link"
        nz-menu-item
        nzMatchRouter
        translate
      >
        <i *ngIf="menuItem.icon" [nzType]="menuItem.icon" nz-icon nzTheme="outline"></i>
        {{ menuItem.title }}
      </li>
    </ul>
  </nz-col>
</nz-header>
