<ng-container *ngrxLet="state$; let state">
  <div *ngIf="state.isVerifying || state.isLoading" class="loading-container">
    <nz-spin nzSize="large"></nz-spin>
  </div>
  <div *ngIf="state.success">
    <nz-result [nzTitle]="successitle" nzStatus="success" [nzSubTitle]="successSubtitle"></nz-result>
    <ng-template #successitle>
      <div class="title">Verified!</div>
    </ng-template>
    <ng-template #successSubtitle>
      <div class="subtitle">{{ state.success | translate }}</div>
    </ng-template>
  </div>
  <div *ngIf="state.error">
    <nz-result [nzTitle]="errorTitle" nzStatus="error" [nzSubTitle]="errorSubtitle"></nz-result>
    <ng-template #errorTitle>
      <div class="title">Invalid</div>
    </ng-template>
    <ng-template #errorSubtitle>
      <div class="subtitle">{{ state.error | translate }}</div>
    </ng-template>
  </div>
</ng-container>
