<div [ngClass]="{ 'nav-item': inNavbar }" ngbDropdown>
  <!--suppress XmlDuplicatedId -->
  <a *ngIf="inNavbar; else button" id="language-dropdown" class="nav-link" ngbDropdownToggle>
    {{ currentLanguage | translate }}
  </a>
  <ng-template #button>
    <!--suppress XmlDuplicatedId -->
    <button class="btn btn-sm btn-secondary" id="language-dropdown" ngbDropdownToggle>
      {{ currentLanguage }}
    </button>
  </ng-template>
  <div ngbDropdownMenu aria-labelledby="language-dropdown" [ngClass]="menuClass">
    <button class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">
      {{ language | translate }}
    </button>
  </div>
</div>
