<nz-card (click)="selectPlan.emit(plan.id)" [class.current]="isCurrent" nzHoverable>
  <nz-card-meta [nzDescription]="description" [nzTitle]="title"></nz-card-meta>
  <ng-template #title>
    <div class="plan-title title-{{ plan.name.toLowerCase() }}" nz-typography>
      {{ plan.name | translate }}<i *ngIf="isCurrent" nz-icon nzTheme="fill" nzType="check-circle"></i>
    </div>
  </ng-template>
  <ng-template #description>
    <nz-list>
      <nz-list-item *ngFor="let point of plan.points">
        <span nz-typography>{{ point.key }}</span>
        <span *ngIf="!isBoolean(point.value)" class="value" nz-typography>{{ point.value }}</span>
        <span *ngIf="isBoolean(point.value)" class="value value-{{ point.value }}" nz-typography>
          <i *ngIf="!point.value" nz-icon nzTheme="outline" nzType="close-circle"></i>
          <i *ngIf="point.value" nz-icon nzTheme="outline" nzType="check-circle"></i>
        </span>
      </nz-list-item>
      <span class="price" nz-typography><span class="currency">₹</span>{{ plan.price }}</span>
    </nz-list>
  </ng-template>
</nz-card>
