<div class="header-container">
  <div nz-typography class="title" translate>Payment</div>
  <div nz-typography nzType="secondary" class="subtitle" translate>
    Please complete the payment before we activate your plan.
  </div>
</div>
<div nzGrid>
  <div nz-row>
    <div *ngrxLet="isLoading$ as isLoading" [nzMd]="16" [nzXl]="12" [nzXs]="24" nz-col>
      <nz-skeleton *ngIf='isLoading'></nz-skeleton>
      <div *ngIf='!isLoading'>
<!--        <ngx-stripe-card></ngx-stripe-card>-->
        <button nz-button translate>Pay</button>
      </div>
    </div>
    <div [nzXl]="12" [nzXs]="24" [nzMd]="8" nz-col>
      <div class="illustration-container">
        <img alt="" src="assets/illustrations/033-money.svg" />
      </div>
    </div>
  </div>
</div>
<div class="footer-container"></div>
